name: build

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.yml'

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      -  name: Checkout the repo
         uses: actions/checkout@v2
         with:
           fetch-depth: 0

      -  name: Setup JDK
         uses: actions/setup-java@v1
         with:
           java-version: '11'

      -  name: Run tests
         run: ./gradlew test ja

      - name: Archive code coverage results
        uses: actions/upload-artifact@v1
        with:
          name: Jacoco Test-Report
          path: build/reports/jacoco/test/html

      - name: Archive test results
        uses: actions/upload-artifact@v1
        with:
          name: Gradle Test report
          path: build/reports/tests/test